body {
    font: 100%/1.5 system-ui, sans-serif;
    display: flex;
    flex-flow: column;
    max-width: 80em;
    min-height: 100vh;
    box-sizing: border-box;
    margin: auto;
    padding: 1em;
}

html, body {
    margin: 0;
    padding: 5;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
}

header {
    display: flex;
    gap: 1em;
    align-items: baseline;
    margin-left: auto;
}

label {
    margin-left: auto;
}

.time-container {
    display: flex;
    gap: 1em;
    align-items: center;
}

time {
    display: inline-block;
    margin-left: 10px;
    width: 4.5em; /* Set a fixed width for the time display */
    text-align: right; /* Align the text to the right */
}

em {
    display: inline-block;
    font-style: italic;
    color: #999;
}

div.legend {
    display: flex;
    gap: 1px; /* Small gap between color swatches */
    margin-block: 1em; /* Add some space above and below the legend */
}

div.legend div {
    flex: 1; /* Make each color swatch take up equal space */
    padding: 0.5em 1em; /* More horizontal padding than vertical */
    text-align: center; /* Center the text horizontally */
    color: white; /* Ensure sufficient contrast with the background color */
    white-space: nowrap; /* Prevent text from wrapping to the next line */
}

div.legend div:nth-child(1) {
    background-color: steelblue; /* Color for "More departures" */
    text-align: left; /* Align text to the left */
}

div.legend div:nth-child(2) {
    background-color: rgb(174, 55, 201); /* Color for "Balanced" */
    text-align: center; /* Center the text */
}

div.legend div:nth-child(3) {
    background-color: darkorange; /* Color for "More arrivals" */
    text-align: right; /* Align text to the right */
}

#map circle,
.legend > div {
    --color-departures: steelblue;
    --color-arrivals: darkorange;
    --color: color-mix(
        in oklch,
        var(--color-departures) calc(100% * var(--departure-ratio)),
        var(--color-arrivals)
    );
    fill: var(--color);
    pointer-events: auto; /* Enable pointer events for circles */
}

#map {
    width: 100%;    /* Adjust width to your desired size */
    height: 100%;   /* Adjust height to your desired size */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: subtle shadow for effect */
    border-radius: 8px; /* Optional: rounded corners */
}

#map svg {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Disable pointer events for the entire SVG */
}